@* @model Coursework.Models.Vigenere

<h2>AES Шифрование</h2>

<form asp-action="Index" method="post">
    <div class="form-group">
        <label asp-for="InputText"></label>
        <textarea asp-for="InputText" class="form-control"></textarea>
        <span asp-validation-for="InputText" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Key"></label>
        <input asp-for="Key" class="form-control" />
        <span asp-validation-for="Key" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IV"></label>
        <input asp-for="IV" class="form-control" />
        <span asp-validation-for="IV" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="KeySize"></label>
        <select asp-for="KeySize" class="form-control">
            <option value="128">128 бит</option>
            <option value="192">192 бит</option>
            <option value="256">256 бит</option>
        </select>
        <span asp-validation-for="KeySize" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Результат</label>
        <textarea readonly class="form-control">@Model.OutputText</textarea>
    </div>

    <button type="submit" name="action" value="encrypt" class="btn btn-primary">Шифровать</button>
    <button type="submit" name="action" value="decrypt" class="btn btn-secondary">Расшифровать</button>
</form> *@